*{
    margin: 0;
    padding: 0;
}
.nav{
    grid-area: nav;
    border: 1px solid #aaa;
    background: #333;
}
.player{
    grid-area: player;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    border: 1px solid #aaa;
}
.player div{
    border-collapse: collapse;
    border: 1px solid #aaa;
    padding:16px;
    background: url("../Textures/Clear.jpg");
    background-size: cover;
}
.player div:hover{
    background: #ccc;
    cursor: pointer;
    transition: 0.5s;
}
.game{
    grid-area: game;
    border: 1px solid #aaa;
    display: flex;
    flex-flow: column;
    background: url("../Textures/Sword.jpg");
    background-size: cover;
}
.user {
    position:absolute;
    padding:40px;
    top: 25vh;
    left: 40vw;
    background: #bbb;
    border: 2px solid black;
    box-sizing: border-box;
}
.footer{
    grid-area: footer;
    border: 1px solid #aaa;
    background: #333;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 8vh 1fr 6vh;
    grid-template-areas: 
        'nav nav'
        'player game'
        'footer footer';
}
#click-GUI {
    text-align: center;
    padding: 16px;
    background: url("../Textures/Clear.jpg");
    background-size: cover;
    flex-grow: 0;
    margin: 5vh 25vw;
    cursor: pointer;

}
#click-GUI:hover {
    background: #aaa
}
#click-GUI:active {
    padding: 20px;
    margin-bottom: 4vh;
    transition: 0.1s;

}
.play-area {
    flex-grow: 1
}
.desativar {
    display:none;
}
.desafio {
    position:absolute;
    padding:40px;
    top: 25vh;
    left: 40vw;
    background: #aaa;
    border: 2px solid black;
    display:none;
}
.desafio button{
    padding: 10px 16px;
    margin: 10px;
}
.desafio h2{
    text-align: center;
}
@media (max-width: 600px){
    body{
        grid-template-rows: 1fr 1fr 6vh;
        grid-template-areas: 
            'player player'
            'game game'
            'footer footer';
    }
    .desafio {
        position:absolute;
        padding:40px;
        top: 25vh;
        left: 5vw;
        background: #aaa;
        border: 2px solid black;
        display:none;
    }
    .user {
        position:absolute;
        padding:40px;
        top: 25vh;
        left: 5vw;
        background: #bbb;
        border: 2px solid black;
        box-sizing: border-box;
    }
}