*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 8vh 1fr 6vh;
    grid-template-areas: 
        'nav nav'
        'player game'
        'footer footer';
}
.nav{
    grid-area: nav;
    background: #274d5a;
}
.player{
    grid-area: player;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "player-info"
        "player-shop";
    height: 100%;
    box-sizing: border-box;
}

#player-info {
    grid-area: player-info;
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #111;
    background: #faac6a;
    background-size: cover;
    box-sizing: border-box;
}
#player-name {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 16px;
    background: #d46c4f;
    color: #111;
}
#player-info-group1 {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

#player-level {

    flex-grow: 1;
    padding: 16px;
}

#player-xp {
    flex-grow: 1;
    padding: 16px;
}

#player-info-group2 {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

#player-weapon {
    flex-grow: 1;
    padding: 16px;

}

#player-money {
    flex-grow: 1;
    padding: 16px;
}

#player-shop {
    grid-area: player-shop;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 90%;
    grid-template-areas: 
        "player-weapons player-perks"
        "shop-items shop-items";
    height: 100%;
    box-sizing: border-box;
}

#player-perks {
    grid-area: player-perks;
    text-align: center;
    padding: 16px;
    background: #d46c4f;
    box-sizing: border-box;
}
#player-perks:hover {
    background: #b1573f;
    color: white;
    cursor: pointer;
}

#player-weapons {
    grid-area: player-weapons;
    text-align: center;
    padding: 16px;
    background: #d46c4f;
    box-sizing: border-box;
}

#player-weapons:hover {
    background: #b1573f;
    color: white;
    cursor: pointer;
}

.shop-active {
    background: #b1573f;
    color: white;
}

#shop-items {
    grid-area: shop-items;
    overflow: auto;
}

.shop-item {
    width: 100%;
    height: 15%;
    background: #faac6a;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    box-sizing: border-box;
}

.shop-item:hover {
    background: #8b5f3a;
    color: #fff;
    cursor: pointer;
}

.game{
    grid-area: game;
    display: flex;
    flex-flow: column;
    background: #f9e181;
}
.footer{
    grid-area: footer;
    background: #274d5a;
}
#click-GUI {
    width: 15%;
    display: block;
    margin: 0 auto;
    opacity: 0.8;
}
#click-GUI:hover {
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
}
#click-GUI:active {
    transition: 0.2s;
    width: 14%;
    overflow: hidden;

}
.play-area {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #45988e;
}

.play-area p {
    margin: 10px;
}

#hp-bar {
    background-image: linear-gradient(to left, #f00, #b00);
    width:50%;
    height: 5%;
}

#remaining-hp {
    background-image: linear-gradient(to left, #0f0, #0b0);
    transition: 0.5s;
    height: 100%;
    text-align: center;
}

.desativar {
    display:none;
}
@media (max-width: 600px){
    body{
        grid-template-rows: 1fr 1fr 6vh;
        grid-template-areas: 
            'player player'
            'game game'
            'footer footer';
    }
} 